$xsmall: 374px;
$small: 740px;
$medium: 1087px;
$large: 1200px;
$xlarge: 1400px;
$xxlarge: 1600px;

$two-col-start: $small;
$three-col-start: 1050px;

$navbar-height: 3.75rem;
$navbar-mobile-height: 3.00rem;
$navbar-color: #1b1c1d;
$navbar-hover-color: #2d2e2e; 

$white: #ffffff;
$primary-color: #03b5ad;
$sidebar-hover-color: #03ccc3;
$secondary-color: #E8590C;

$bottom-nav-height: 3.8rem;

$deck-width: 90%;
$deck-height: 350px;