// Import the initial variables
@import "media";
@import "variables";

#root,
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 16px;
}

input[type="text"] {
  font-size: inherit;
}

.hide-mobile {
  display: none !important;
  @include media-query(small) {
    display: inline-block !important;
  }
}

a,
a:hover {
  color: $white !important;
  text-decoration: none;
}
