@import "../../../scss/media";
@import "../../../scss/variables";

.add-stack {
  width: 80%;
  margin: 1.5rem auto;

  padding-bottom: $bottom-nav-height;

  @include media-query(small) {
    padding: 0 4rem;
  }

  .add-stack-form {
    .field {
      margin-top: 1.5rem;
    }

    .title {
      font-size: 1.71428571rem;
      text-align: center;
    }

    .Button {
      margin-top: 1rem;
      width: 100%;
      height: 40px;
    }
  }
}
