@import "../scss/media";
@import "../scss/variables";

.flex {
  display: flex;
}

#content {
  width: 100%;

  padding-top: 0;
  padding-right: 0;

  padding-bottom: $bottom-nav-height;

  @include media-query(small) {
    padding-bottom: 0;
  }
}

.centered {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;

  @include media-query(small) {
    width: 80%;
  }
}
